*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-purple-100: hsl(254, 88%, 90%);
    --color-purple-500: hsl(256, 67%, 59%);
    --color-yellow-100: hsl(31, 66%, 93%);
    --color-yellow-500: hsl(39, 100%, 71%);
    --important-color: hsl(39, 100%, 71%);
    --emphasis-color: hsl(256, 67%, 59%);
    --background-color: hsl(0, 0%, 96%);

    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 7%);

    --font-family: "DM Sans", sans-serif;
    --paragraph-font-size: 1.125rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
}

html{
    font-size: var(--paragraph-font-size);
    font-family: var(--font-family);
    /* line-height: 1.1em; */
}

h1, h2, p{
    line-height: 1.1em;
    text-wrap: balance;
}


h1{
    font-size: var(--h1-font-size);
    text-align: center;
}

h2{
    font-size: var(--h2-font-size);
}

img{
    display: block;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    object-fit: cover;
}

.image{
    width: 60%;
    padding-block: 1rem;
    
}

.wrapper{
    width: fit-content;
    max-width: 1440;
    margin-inline: auto;
}

.card-grid{
    display: grid;
    gap: 1rem;
    background-color: var(--background-color);
    grid-template-areas: 
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";
}

.card{
    max-width: 350px;
    overflow: clip;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card:nth-child(1){
    grid-area: one;
    background-color: var(--color-purple-500);
    color: var(--color-white);
    align-items: center;
}

.card:nth-child(2){
    grid-area: two;
    background-color: var(--color-white);
    .image{
        order: -1;
        width: 75%;
    }
}

.card:nth-child(3){
    grid-area: three;
    background-color: var(--color-yellow-500);
    & img {
        margin-block-end: -45px;
    }    
}

.card:nth-child(4){
    grid-area: four;
    background-color: var(--color-purple-100);
    align-items: center;
    & * {
        text-align: center;
    }
}

.card:nth-child(5){
    grid-area: five;
    background-color: var(--color-purple-500);
    color: var(--color-white);
    align-items: center;
    & * {
        text-align: center;
    }
    & .image{
        order: -1;
    }
}

.card:nth-child(6){
    grid-area: six;
    background-color: var(--color-white);
}

.card:nth-child(7){
    grid-area: seven;
    background-color: var(--color-yellow-100);
}

.card:nth-child(8){
    grid-area: eight;
    background-color: var(--color-yellow-500);
}

.important-color{
    color: var(--important-color);
}

.emphasis{
    color: var(--color-purple-500);
    font-style: italic;
}

.normal-font{
    font-size: var(--paragraph-font-size);
    font-weight: normal;
}

@media screen and (width > 900px){
    .card-grid {
        grid-template-areas:
        "seven one one four"
        "seven two three four"
        "eight two three four"
        "eight six five five"
    }
    .card:nth-child(5){
        flex-direction: row;
    }
    .card:nth-child(5) > * {
        flex:1;
    }

}